*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(71, 71, 148);
    background-color: rgb(36, 149, 164);
}

.header{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;

    color: #f0f0f0;
    height: 900px;
    padding-top: 300px;
}

.header-title{
    margin: 8px 0;
}

.name{
    color: rgb(159, 67, 67);
    font-size: 60px;
}

.header-content{
    margin: 8px 0;
}

.header-footer{
    margin: 8px 0;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    border-color: rgb(159, 67, 67);
    border-width: 2px;
}

.header-footer a{
    text-decoration: none;
    color: #ccc;
}

.header-footer{
    position: relative;
}

.header-footer::before{
    position: absolute;
    content: "";
    background-color: rgb(159, 67, 67);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    inset: 0;
    z-index: -1;
}

.header-footer:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    color: aliceblue;
}

.down-icon{
    color: rgb(195, 192, 192);
}

.navbar{
    overflow: hidden;
    position: fixed;
    transition: 0.4s;
    top: -2%;
    right: 0;
    left: 0;
}

.navbar .navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(155, 112, 112);
    width: 100%;
}

.navbar-list{
    list-style: none;
}

.navbar-list li{
    margin: 24px;

}

.navbar-list a{
    color: #ccc;
    text-decoration: none;
    font-weight: 600;
}

.navbar-list li:hover a{
    color: rgb(244, 79, 79);
}

/* content - about */

.row{
    margin: 24px;
}

.about,.experience,.contact{
    padding: 100px 0 0 0;
}

.about-content-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 46px;
}

.content-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hr1{
    color: rgb(244, 79, 79);
    background: rgb(244, 79, 79);
    border: none;
    height: 2px;
    width: 100%;
}

.about-content{
    color: #ccc;
    margin: 0 16px;
    font-size: 14px;
    text-align: justify;
}

.user-icon i{
    font-size: 80px;
    width: 138px;
    height: 138px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: rgb(244, 79, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 46px 0 56px 0;   
}

.about-content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: 24px;
}

.hang{
    display: flex;
    color: antiquewhite;
    gap: 120px;
}

.c,.csharp,.cpp{
    color: #cccccc;
    font-size:12px;
    text-align: center;
    margin-bottom: 30px;
}

img {
    height: 70px;
    margin-bottom: 10px;
}

.hiddenimg{
    display: none;
    width: 90px;
    height: 70px;
}

.display:hover ~ .hiddenimg{
    display: block;
}

.project-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project-content{
    color: #ccc;
    margin: 0 16px;
    font-size: 14px;
    text-align: justify;
}


.project__content{
    display: flex;
    margin: 56px;
}

.project__content-text{
    display: flex;
    flex-direction: column;
    color: aliceblue;   
    margin:0 110px;
}

.project__content-btn{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-live-app{
    margin-bottom: 12px;
    transition: transform .3s;
}

.btn-responsive{
    transition: transform .3s;
}

.btn{
    border: 1px solid #ccc;
    background-color: rgb(244, 116, 116);

}

.btn-live-app:hover,
.btn-responsive:hover{
    transform: scale(1.5);  
    background-color: rgb(253, 77, 77);
    border-radius: 5px;
}

.img-app{
    width: 600px;
    height: 300px;
    overflow-clip-margin: content-box;
    overflow: clip;
    box-shadow: -40px -20px #ccc;
}

.contact-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 48px;
}

.contact-title{
    display: flex;
    color: aliceblue;
}

.form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.input-name,
.input-email,
.message{
    outline: none;
    margin: 8px;
    padding: 4px;
    background-color: rgb(253, 251, 251);
    border: 1px solid;
    border-radius: 5px;
    padding: 8px;
}

.input-name:hover,
.input-email:hover,
.message:hover{
    border: 1px solid #000000;
    border: 1px solid #7e7a7a;
    border-radius: 5px;
}

.btn-submit{
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    
}

.submit{
    padding: 12px 18px;
    border: 1px solid;
    border-radius: 5px;
    margin-right: 8px;
    background: rgb(248, 84, 84);
}

.submit:hover{
    background: rgb(246, 125, 125);
}

footer{
    height: 120px;
    background: rgb(54, 54, 54);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 112px;
}

.footer{
    margin: -70px 0 0 0;
}

.back-to-top{
    margin: 0;
    background-color: rgb(250, 86, 86);
    padding: 12px;
    border: 1px solid;
    border-radius: 5px;
    text-decoration: none;
    color: #000
}

.back-to-top:hover{
    background: rgb(244, 116, 116);
    color: #000
}

.icon{
    padding-top: 28px;
    display: flex;
}
.icon a{
    margin: 0 48px;
    font-size: 36px;
    
}

.icon:hover a{
    cursor: pointer;
}
img{
    height: 40px;
}

/* mobile */

@media(max-width: 740px){

}

/* tablet */
@media (max-width: 590px){

}
